<form method="post">
    <h2>New Task</h2>
    <label for="">Task :</label>
    <input type="text" name="taskName" id="">
    <input type="text" name="category">
    <input type="submit" value="Save">
</form>
